:root{
    --primary: #efffff;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104,104,104,0.8);
    --text-shadow: 0 0 1px rgba(255,255,255,1);
    --content-shadow: 0 0 2px rgba(0,0,0,1);
}

html{
    font-family: 'Open Sans', sans-serif;
    /*display: flex;
    justify-content: center; */
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--primary);
}

.wrapper{
    display: grid;
}

/* top of the home site */
.top-not-home-page{
    background-image: url('images/baz-rdy-22.png');
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    height: 15rem;
}

/*main menu*/
.menu{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: fixed;
    z-index: 100;
}

.menu-scrool{
    background-color: rgba(33,33,33,0.8);
}

.menu h1 a{
    text-decoration: none;
    color: var(--light);
    font-size: 1.3rem;
    margin-left: 2rem;
    white-space: nowrap;
    text-shadow: var(--text-shadow);
    opacity: 0;
}

.wtf{
    padding-right: 1rem;
    padding-top: 0.4rem;
}

.ul{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
}

.main_nav a{
    display: inline-block;
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--light);
    text-shadow: var(--text-shadow);
}

.main_nav a:after{
    content: '';
    width: 0;
    height: 1px;
    display: block;
    background: white;
    transition: 500ms ease-in-out;
}

.main_nav a:hover:after{
    width: 100%;
}

/*contact content*/

.contact-content{
    margin: 10%;
}

header{
    border-bottom: 1px solid black;
    font-weight: bold;
    font-size: 1.5rem;
    width: auto;
}

/*footer*/

footer{
    display: block;
    margin: 0;
    padding: 0;
}
footer div{
    background-color: #666;
    justify-items: center;
    display: grid;
}

.footer-nav ul{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
}

.footer-nav ul a{
    text-decoration: none;
    color: var(--primary);
    font-size: 70%;
}

/*who done it?*/

footer span{
    height: 3rem;
    background-color: #333;
    display: block;
    text-align: center;
    width: 100%;
}

footer span p{
    margin: 0.5rem;
    color: #666;
}

label{
    display: none;
}

#toggle{
    display: none;
}


@media screen and (max-width: 700px){
    label{
        display: block;
        margin-right: 10%;
        margin-top: 1rem;
        font-size: 2rem;
        color: white;
        cursor: pointer;
        text-align: right;
    }
    
    .main_nav{
        display: none;
        background-color: rgba(33,33,33,0.8);
        grid-column: span 2;
        z-index: 1000;
    }
    .ul{
        border-right: 1px solid white;
        text-align: center;
        display: block;
    }
    
    .menu nav ul li{
        border-top: 1px solid white;
        padding: 0.3rem 0;
    }
    
    #toggle:checked + .main_nav {
        display: block;
    }
}