/*css variables*/
:root{
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104,104,104,0.8);
}

html{
    font-family: 'Open Sans', sans-serif;
}

body{
    margin: 0;
    padding: 0;
}

.wrapper{
    display: grid;
}

.top{
    background-image: url('images/baz-rdy-2.png');
    display: grid;
    background-size: cover;
    background-position: center;
}

/*main menu*/

.menu{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.menu nav{
    padding-right: 1rem;
}

.menu nav ul{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;

}

.menu h1{
    color: var(--light);
    font-size: 1.4rem;
    margin-left: 2rem;
    white-space: nowrap;
}

.main_nav a{
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--light);
}

/*intro with logo*/

.intro{
    display: grid;
    justify-items: center;
}

.intro_text{
    width: 80%;
    margin-bottom: 2rem;
}

.intro p{
    color: var(--light);
    font-size: 1.3rem;
    padding: 0 4rem;
    text-align: justify;
/*    font-weight: bold;*/
}

.intro_text hr{
    height: 2px;
    background-color: white;
    border: none;
}

/*main content*/

.content{
    display: grid;
    grid-template-areas: 'a' 'b' 'c';
}

.a{
    grid-area: a;
    display: grid;
    grid-template-areas: 'header header' 'p img';

}

.header{
    grid-area: header;
    padding: 1rem;
}

.a p{
    grid-area: p;
    text-align: justify;
    padding: 1rem;
}

.a img{
    grid-area: img;
}


@media(max-width: 700px){
    .a{
        grid-area: a;
        display: grid;
        grid-template-areas: 'header' 'p' 'img';
    }
}